<form [formGroup]="userSearchForm">
    <div class="card custCardStyle">
      <div class="card-body custCardStyle">

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="inputAddress2">Raggione sociale</label>
                <input  formControlName="businessName" type="text" class="  form-control form-control-sm" >
              </div>

          <div class="form-group col-md-6">
            <label for="inputPassword4">Descrizione</label>
            <input  formControlName="description" type="text" class="form-control form-control-sm" >
          </div>

        </div>
      </div>
    </div>
  </form>
